body {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 24px;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f7f9fc 0%, #dbe6fd 100%);
}


header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto; /* centering the content */
}

#tasks-section, #schedule-section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

#new-task-input {
    padding: 0.5em;
    width: 70%;
    margin-right: 0.5em;
}

#add-task-btn, .delete-btn, .confirmation-btn {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease; /* smooth transition for hover effects */
}

#add-task-btn:hover, .delete-btn:hover, .confirmation-btn:hover {
    box-shadow: 0px 5px 15px rgba(58, 128, 58, 0.6), 0 0 15px rgba(58, 128, 58, 0.5);
    transform: translateY(-2px); /* subtle lift on hover */
}


.completed-task {
    text-decoration: line-through;
    transform: scale(1.05);
    opacity: 0.7;
}


.delete-btn {
    background-color: lightgrey;
    color: red;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
}

.task-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.confirmation-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ccc;
    z-index: 1000; /* Ensure it's on top */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}

.confirmation-btn {
    margin: 0.5em;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}


.task-item-container {
    animation: slideFadeIn 0.5s ease-out;
}


/* You can add more styles for the .confirmation-btn if needed */


